<!DOCTYPE html>
<html lang="en" ng-app="BohemiaRes">
<head>
	<title>Bohemia</title>
	<meta charset="UTF-8">
	<meta name="HandheldFriendly" content="true" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/master.css">
	<link rel="stylesheet" href="assets/css/boot/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Raleway:800" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet"> 

</head>
<body class="container-fluid body-x-overflow">
	<!--  HEADER STARTS	 -->
	<nav class="navbar navbar-default custom-carousel nav-menu-top">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#"></a>
	    </div>
	    <ul class="nav navbar-nav navbar-right">
	      <li><a class="active" href="#br-section-1">STANDARY</a></li>
	      <li><a href="#br-section-2">GALERIE</a></li>
	      <li><a href="#br-section-3">LOCATION</a></li>
	      <li><a href="#">ABOUT US</a></li>
	      <li><a href="#">CONTACT</a></li>
	      <li><a href="#">|</a></li>
	      <li><a href="#">EN</a></li>
	      <li><a href="#">CZ</a></li>
	    </ul>
	  </div>
	</nav>
	<!--  HEADER ENDS -->


	<!-- CORAUSEL STARTS -->
	<div class="row section-container-bottom" id="br-section-1">
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
	    <div class="carousel-inner" role="listbox">
		      <div class="item active">
		        <img src="assets/img/main3.jpg" alt="Chania" width="460" height="345">
		      </div>
		      <div class="infotab">
		      	<div>
		      		<img src="assets/img/logo/Bohemia-Residences-logo.png" alt="Bohemia-Residences-logo">
			      	<span class="section-heading home-header-space chf">NEW DESIGN OF CAROUSEL BOHEMIA</span>
			      	<p class="common-desc cpf">Prague is a metropolis with a multifarious history, charming architecture, rich culture and magical</p>
			      	<P class="learn-more chf">Learn More <span class="learn-more-icon"></span></P>
		      	</div>
		      </div>
		    </div>
		</div>
	</div>
	<!-- CORAUSEL ENDS -->

	<div class="row section-container container-margin">
		<div class="col-sm-12">
			<span class="section-heading chf">NASE NAMOVITOSTI</span>
		</div>
		<div class="col-sm-12 property-describe">
			<p class="cpf nase-desc">
			Prague is a metropolis with a multifarious history, charming architecture and is a metropolis with a multifarious history
			</p>
		</div>
		
		<div class="col-sm-12 nase-para">
			<div class="row">
				<div class="col-sm-3 nase-block brdr-bottom  brdr-right">
					<div class="header-color-x chf nase-para-head">dispozice</div>
					<p class="common-desc cpf">Prague is a metropolis with a multifarious history, charming architecture, rich culture and magical</p>
				</div>

				<div class="col-sm-3 nase-block brdr-bottom brdr-right">
					<div class="header-color-x chf nase-para-head">PAR2</div>
					<p  class="common-desc cpf">Prague is a metropolis with a multifarious history, charming architecture, rich culture and magical</p>
				</div>

				<div class="col-sm-3 nase-block brdr-bottom brdr-right">
					<div class="header-color-x chf nase-para-head">PAR3</div>
					<p  class="common-desc cpf">Prague is a metropolis with a multifarious history, charming architecture, rich culture and magical</p>
				</div>

				<div class="col-sm-3 nase-block brdr-bottom">
					<div class="header-color-x chf nase-para-head">PAR4</div>
					<p  class="common-desc cpf">Prague is a metropolis with a multifarious history, charming architecture, rich culture and magical</p>
				</div>

				<div class="col-sm-3 nase-block brdr-right">
					<div class="header-color-x chf nase-para-head">PART5</div>
					<p  class="common-desc cpf">Prague is a metropolis with a multifarious history, charming architecture, rich culture and magical</p>
				</div>

				<div class="col-sm-3 nase-block brdr-right">
					<div class="header-color-x chf nase-para-head">PAR6</div>
					<p  class="common-desc cpf">Prague is a metropolis with a multifarious history, charming architecture, rich culture and magical</p>
				</div>

				<div class="col-sm-3 nase-block brdr-right">
					<div class="header-color-x chf nase-para-head">PAR7</div>
					<p  class="common-desc cpf">Prague is a metropolis with a multifarious history, charming architecture, rich culture and magical</p>
				</div>

				<div class="col-sm-3 nase-block">
					<div class="header-color-x chf nase-para-head">PAR8</div>
					<p  class="common-desc cpf">Prague is a metropolis with a multifarious history, charming architecture, rich culture and magical</p>
				</div>
			</div>
		</div>
		
	</div>

	<div class="row section-container dark-green-bgk" ng-controller="PropertyDescription">
		<div class="col-sm-5 inner-margin desc-image">
			<img ng-repeat="desc in descriptions" ng-class="{'display-none': !desc.active}" ng-src={{desc.img}}>
			<figcaption class="figcaption-img">
				<div class="arrow-left" ng-click="previous()"></div><div class="arrow-right" ng-click="next()"></div>
			</figcaption>
		</div>
		<div class="col-sm-7 inner-margin">
				<div>
					<span class="section-heading heading-width chf">
						PROPERTY DESCRIPTIONS
					</span>
				</div>
				<div class="property-features-list">
					   <div class="row">
						<div class="col-sm-12">
							<div class="row" ng-repeat="desc in descriptions" ng-class="{'display-none' : !desc.active}">
								<div class="col-sm-12">
									<span class="info-para theme-border-color property-desc cpf common-desc" style="padding:10px 40px 35px 0px;">{{desc.detail}}
								    </span>
								</div>
								<span ng-repeat="feature in desc.features track by $index" ng-click="toggleFeature($index)">
									<div class="col-sm-12 header-color-x property-header prop-width prop-icons" ng-class="{'theme-border-color' : openedFeature !== $index}" style="padding-bottom: 10px;">
									    	<div class="ptitle-position chf">{{feature.label}}</div><div class="icon-plus pm-postion" ng-class="{'icon-minus': openedFeature == $index}"></div>
									</div>
									<div class="col-sm-12 prop-width" ng-if="openedFeature === $index" ng-class="{'theme-border-color' : openedFeature === $index}">
										<div class="row">
											<div class="col-sm-7">
												<div class="row"  style="padding-bottom: 30px;">
													<div class="col-sm-4" ng-repeat="item in feature.list" style="margin-bottom: 2px;">
														<span class="listing-buttet"></span><span class="cpf common-desc">{{item}}</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</span>
							</div>
						</div>
					</div>
				</div>
			
		</div>
	</div>

	<div class="row section-container" id="br-section-2">
		<div class="col-sm-12">
			<div class="contentGallery row">
				<ul class="clearfix">
					<script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/3925342d7cac5696baa9365f27905649.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 92vw; height: 300px; border: 10px; overflow: hidden;"></iframe>
				</ul>
			</div><!-- end ContetnGallery -->
		</div>
	</div>

	<div class="row section-container dark-green-bgk" id="google-map-sec" ng-controller="LocationSection">
		<div class="col-sm-12  inner-container-padding section-heading chf" style="text-align: center;">
				Location & Neighboring
		</div>			
		<div class="col-sm-12 padding-no-top info-para cpf common-desc" style="text-align: center;">	
				Naprostá většina našich nemovitostí se vyskytuje na oblíbených adresách v klidné lokalitěs veškerou občanskou vybaveností včetně škol, školek, obchodů a restaurací v přilehlém okolí. Současně disponuje výbornou dostupností do centra města. Naprostá většina našich nemovitostí se vyskytuje na oblíbených adresách v klidné lokalitěs 
			
		</div>
		<!-- LOCATION ROW 1 -->
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-5">
				<div class="header-color-x chf nase-para-head">
					Schools & University
				</div>
				<div class="cpf common-desc">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				</div>
			</div>
			<div class="col-sm-5">
				<div class="header-color-x chf nase-para-head">
					Schools & University
				</div>
				<div class="cpf common-desc">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				</div>
			</div>
			<div class="col-sm-1"></div>
		</div>
		
		<!-- LOCATION ROW 1 ENDS -->
		<!-- LOCATION ROW 2 -->
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-5">
				<div class="header-color-x chf nase-para-head">
					Schools & University
				</div>
				<div class="cpf common-desc">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				</div>
			</div>
			<div class="col-sm-5">
				<div class="header-color-x chf nase-para-head">
					Schools & University
				</div>
				<div class="cpf common-desc">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				</div>
			</div>
			<div class="col-sm-1"></div>	
		</div>
		<!-- LOCATION ROW 1 ENDS -->
		<!-- LOCATION and Google Map Starts -->
		<div class ='row lod-neighbour-container padding-no-top radio-container' id='mapimageresult' ng-click="setMenu()">	
			<div class="col-sm-{{12/(keys.length)}}" ng-repeat="key in keys track by $index">
				<label class="show-case-title"><input class="btn-radio" id="custom-radio-nav-button" type="radio" name="radio-button" value={{key}} ng-checked="$index==0" ng-click="showPoi(key)" ng-class="{'mac-os': isMacOs}"> {{key}}
				</label>
			</div>
		</div>
		<div class="row  padding-no-top">
				<div class="col-sm-6" id="mapresult" style="margin-bottom: 60px;">
					<div id="map-canvas" class="google-map" data-lat="50.075323" data-long="14.463263" data-img="assets/img/icons/logo-map.png"></div>
				</div>
				<div class="col-xs-12 col-sm-6">
				</div>
				<div class="row">
				<!--scrolled-assets-starts-here-->
				<div class="col-xs-12 col-sm-6 col-md-6">
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6" id="imageresult" style="display: flex; margin: 15px 0; flex-direction: row; flex-wrap: wrap;" >
				    <div class="image-poi-container loc-img" ng-click="toggle($index);" ng-repeat="poi in pois track by $index"  ng-class="{'poi-container-full' : poi.isOpened}"   data-lat = {{poi.location[0]}} data-lang = {{poi.location[1]}} data-locid = {{$index}} id={{'poi'+$index}}>
						<img ng-src={{poi.image}} class="poi-image">
						<div class="img-title">
							<h4 class="poi-header-h4">{{poi.title}}</h4>
							<p class="address" >{{poi.name}}</p>
							<p  class="poi-details" ng-class="{'poi-details  display-none' : !poi.isOpened}">One of the grandest edifices in Prague, the Rudolfinum is home to the Dvořák concert hall, where the Czech Philharmonic presents the grandest classical music and performance art events in the Prague calendar. The Rudolfinum also offers contemporary art exhibitions.</p>
							<div class="fa-icon" ng-class="{'fa-icon-upward' : !poi.isOpened}"></div>
						</div>
						<div style="height: 10px; background-color: white"></div>
					</div>
				</div>
				</div>
			</div><!-- end row-->
			<!-- LOCATION and Google Map Starts -->
	</div>

	<div class="row section-container container-margin">
		<div class="col-sm-12">
			<div class="row">
				<div class="col-sm-3">
					<span class="section-heading chf">BOHEMIA RESIDENCE</span>
				</div>
				<div class="col-sm-9">
					<span class="residence-details cpf common-desc">
						Naprostá většina našich nemovitostí se vyskytuje na oblíbených adresách v klidné lokalitěs veškerou občanskou vybaveností včetně škol, školek, obchodů a restaurací v přilehlém okolí. Současně disponuje výbornou dostupností do centra města. Naprostá většina našich nemovitostí se vyskytuje na oblíbených adresách v klidné lokalitěs veškerou občanskou vybaveností včetně škol, školek, obchodů a restaurací v přilehlém okolí. Současně disponuje výbornou dostupností do centra města.	
					</span>
				</div>
			</div>
		</div>
		<div class="col-sm-12">
			<div class="row">
				<div class="col-sm-3">
					<div class="number section-heading chf theme-border-color theme-font-color theme-padding">01</div>
					<div class="header-desc cpf theme-padding">LOREM IPSUM</div>
					<div class="common-desc cpf">Naprostá většina našich nemovitostí se vyskytuje na oblíbených adresách v klidné lokalitěs veškerou občanskou</div>
				</div>
				<div class="col-sm-3">
					<div class="number section-heading chf theme-border-color theme-font-color theme-padding">02</div>
					<div class="header-desc cpf theme-padding">LOREM IPSUM</div>
					<div class="common-desc cpf">Naprostá většina našich nemovitostí se vyskytuje na oblíbených adresách v klidné lokalitěs veškerou občanskou</div>
				</div>
				<div class="col-sm-3">
					<div class="number section-heading chf theme-border-color theme-font-color theme-padding">03</div>
					<div class="header-desc cpf theme-padding">LOREM IPSUM</div>
					<div class="common-desc cpf">Naprostá většina našich nemovitostí se vyskytuje na oblíbených adresách v klidné lokalitěs veškerou občanskou</div>
				</div>
				<div class="col-sm-3">
					<div class="number section-heading chf theme-border-color theme-font-color theme-padding">04</div>
					<div class="header-desc cpf theme-padding">LOREM IPSUM</div>
					<div class="common-desc cpf">Naprostá většina našich nemovitostí se vyskytuje na oblíbených adresách v klidné lokalitěs veškerou občanskou</div>
				</div>
			</div>
		</div>
	</div>

	
	<div class="row section-container dark-green-bgk sec-inner-paddding">
		<div class="col-sm-6">
			<div class="row">
				<div class="col-sm-2">
					<img src="assets/img/poi.jpg" class="img-circle">
				</div>
				<div class="col-sm-10">
					<div class="agent-name-title">
					<div class="section-heading chf">
						SIMON SCHUT
					</div>
					<div class="chf">
						JEDNATEL
					</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 common-desc agent-padding-text cpf">
					Naprostá většina našich nemovitostí se vyskytuje na oblíbených adresách v klidné lokalitěs veškerou občanskou vybaveností včetně škol, školek, obchodů a restaurací v přilehlém okolí. Současně disponuje výbornou dostupností do centra města. Naprostá většina našich nemovitostí se vyskytuje na oblíbených adresách v klidné lokalitěs veškerou občanskou vybaveností včetně škol, školek, obchodů a restaurací v přilehlém okolí. Současně disponuje výbornou dostupností do centra města.	
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 agent-contact-padding">
					<div class="agent-contacts">office@bohemiaresidencies.com</div>
					<div class="agent-desc cpf">Naprostá většina našich nemovitostí</div>
				</div>
				<div class="col-sm-12">
					<div class="agent-contacts chf">+420 607 543 563</div>
					<div class="agent-desc cpf">Naprostá většina našich nemovitostí</div>
				</div>
			</div>
		</div>
		<div class="col-sm-1"></div>
		<div class="col-sm-5">
			<div class="row">
				<div class="col-sm-12"><div class="facebook-title">Sledujte nas facebook</div></div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div id="fb-root"></div>
					<script>(function(d, s, id) {
						var js, fjs = d.getElementsByTagName(s)[0];
						if (d.getElementById(id)) return;
						js = d.createElement(s); js.id = id;
						js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8";
						fjs.parentNode.insertBefore(js, fjs);
					}(document, 'script', 'facebook-jssdk'));
					</script>
					<div class="fb-page" style="overflow-y: hidden;" data-href="https://www.facebook.com/bohemiaresidences.eu" data-tabs="timeline" data-small-header="true" data-width=10000 data-height=550 data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false"><blockquote cite="https://www.facebook.com/bohemiaresidences.eu"class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/bohemiaresidences.eu">bohemiaresidences.eu</a></blockquote>
					</div>						
				</div>
			</div>
		</div>
	</div>
	

	<!-- CONTACT US STARTS -->
	<div class="row section-container container-margin">
			<!-- HEADER STARTS -->
			<div class="col-sm-12 contact-us-padding">
				<div class="section-heading chf">KONTAKTUJTE NAS</div>
				<div class="contact-desc-pad cpf header-desc">Naprostá většina našich nemovitostí Naprostá většina našich nemovitostí</div>
			</div>
			<!-- HEADER ENDS -->
			<div class="col-sm-12">
				<div class="row">
					<div class="col-sm-8">
						<div class="row">
							<div class="col-sm-12 cu-bottom-padding">
								<div class="icon-email"><span class="inner-text-cu cpf">Email</span></div>
								<div class="facebook-title theme-font-color chf">office@bohemiaresidencies.com</div>	
							</div>
							<div class="col-sm-12 cu-bottom-padding">
								<div class="icon-email"><span class="inner-text-cu cpf">Address</span></div>
								<div class="facebook-title theme-font-color chf">some addresss placeholer</div>	
							</div>
							<div class="col-sm-12 cu-bottom-padding">
								<div class="icon-email"><span class="inner-text-cu cpf">Telephone</span></div>
								<div class="facebook-title theme-font-color chf">+420 607 543 543</div>	
							</div>	
						</div>
					</div>
					<div class="col-sm-4">
						<div class="row">
							<div class="col-sm-12">
								<p>Vase jmeno</p>
								<p><input type="text" name=""></p>
							</div>
							<div class="col-sm-12">
								<p>E-mail Address</p>
								<p><input type="text" name=""></p>
							</div>
							<div class="col-sm-12">
								<p>Predem zpvary</p>
								<p><input type="text" name=""></p>
							</div>
							<div class="col-sm-12">
								<p>Address</p>
								<p><input type="textbox" name="" class="cu-textbox"></p>
							</div>
							<div class="col-sm-4"></div>
							<div class="col-sm-8">
								<button type="button" class="btn btn-primary dark-green-bgk">ODESLAT ZPRAVU <span class="icon-white-arrow"></span></button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	

	
	<div class="row footer">
		<div class="col-sm-10 footer-inner cpf">
			Copyright 2017. All Rights Reserved.
		</div>
		<div class="col-sm-2 footer-inner">
			<a href="https://www.pinterest.com/bohemiares/"><span class="icon-facebook"></span></i></a>
			<a href="https://twitter.com/bohemiares"><span class="icon-instagram"></span></i></a>
			<a href="https://www.instagram.com/bohemiaresidences.eu/"><span class="icon-pinterest"></span></a>
			<a href="https://www.facebook.com/bohemiaresidences.eu"><span class="icon-twitter"></span></a>
		</div>
	</div>	
	
	

	<!-- CONTACT US ENDS -->

	<script src="assets/js/jquery.js"></script>
	<script src="assets/js/jquery.stickit.js"></script>	
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/plugins.js"></script>
	<script src="assets/js/map.js"></script>
	<script src="assets/js/angular.min.js"></script>
	<script src="assets/js/main.js"></script>
	<script src="assets/js/extra.js"></script>
</body>
</html>