.body-x-overflow{
	overflow-x: hidden;
}
.theme-color-bck{
	background-color: #cf865a !important;
}

.theme-font-color {
	color: #cf865a !important;
}

.theme-border-color{
	border-color: #cf865a !important;
	border-bottom-style: solid;
	border-width: 1px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 100%;
  margin: auto;
  height :calc(100vh - 57px) !important;
}

.custom-carousel{
	margin-bottom: 0 !important; 
	border-radius: 0px !important;
	background-color: #fff !important;
    border-color: #fff !important;
}

.infotab{
	height: calc(100vh - 57px) !important;
	width: 300px;
	position: absolute;
	top: 0px;
	left: 5%;
	background: #fff;
}

.infotab > div{
	margin: 15px;
}

.infotab > div > img{
	width: 175px;
    margin: 0 10px 25px 0px;
}

.infotab-header{
	font-size: 45px;
	font-weight: bold;
}

.infotab-info{

}

.infotab-lm{

}

.header-color-x{
	color: #cf865a;
	font-weight: bold;
}

.container-margin{
	margin: 80px 30px !important;
}

.inner-container-padding{
	padding:  80px 60px 30px 60px !important
}

.padding-no-top{
	padding:  0 60px 30px 60px !important
}

.section-container-bottom{
	margin-bottom: 35px !important;
}

.section-container{
	margin: 35px 0;
	overflow-x: hidden;	
}

.nase-block{
	margin: 40px 0px 0px 0px; 
}

.dark-green-bgk{
	background: #213944;
	color: #fff;
}

.inner-margin{
	padding: 100px 30px;
}

.residence-details{
	padding: 24px;
    display: inline-block;
}


/*COMMON CSS STARTS*/
.nav-menu-top{
	font-size: 11px !important;
	font-weight: bold;
}

.section-heading{
	font-size: 45px;
    font-weight: bold;
    line-height: 1
}

.section-sub-heading{

}

.section-sub-heading-small{

}

.learn-more{
	color: #000;
	font-size: 12px;
}

.learn-more:active{
	color: #777;
	font-size: 12px;
}

/*COMMON CSS ENDS*/

.home-header-space{
	padding: 50px 0;
    display: inline-block;
}

.property-describe p{
	line-height: 1;
	font-size: 20px;
}

.heading-width{
	width: 130px !important;
	display: inline-block;
}

.desc-image img{
	float: right;
}

.info-para{
	display: inline-block;
}

.property-features{
	display: inline-block;
}

.radio-container{
  background-color: #213944;
  height: 30px;
}

.google-map {
  margin-top: 3rem;
  height: 85vh;
  padding-bottom: 30px;
}
.google-map-assets {
  margin-top: 3rem;
  overflow:scroll;
  height:465px;
}

.btn-radio .input:after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -.675rem 0 0 -.675rem;
  width: 1.35rem;
  height: 1.35rem;
  border-radius: 100%;
  background-color: #cf865a;
  content: ' ';
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}
.google-map img {
  max-width: inherit;
}
.img-title {
  background-color: #cf865a;
  margin-top: -10px;
  padding: 10px;
  color: white;
}

.image-poi-container{
  height: inherit;
  width: 44% ;
  margin: 1em;
  cursor: pointer;
}

.poi-image{
  width: 100%;
  height: 150px;
}

.poi-container-full{
  width: 92% !important;
  height: inherit;
}

.poi-details{

}
.display-none{
  display: none;
}

.property-header{
	margin: 20px 0;
}

.prop-width{
	width: 95% !important;
	position: relative;
	right: -15px;
}

.listing-buttet{
	background-image: url(../../assets/img/icons/06-bullet.png);
    height: 12px;
    width: 12px;
    display: inline-block;
    background-repeat: no-repeat;
    margin-right: 10px;
    margin-left: 20px;
    background-position: 0px 3px;
}

.arrow-right{
	background-image: url("../../assets/img/icons/05-arrow-right.png");
	height: 18px;
    width: 20px;
    background-repeat: no-repeat;
}

.arrow-left{
	background-image: url("../../assets/img/icons/04-arrow-left.png");
	height: 18px;
    width: 20px;
    display: inline-block;
    background-repeat: no-repeat;
}

.figcaption-img{
	display: inline-flex;
    position: relative;
    left: 19px;
    top: 10px;
}

.figcaption-img div{
	margin-top: 5px;
	margin-right: 10px;
}

.icon-plus{
	background-image: url("../../assets/img/icons/02+.png");
	height: 18px;
    width: 20px;
    background-repeat: no-repeat;
}

.icon-minus{
	background-image: url("../../assets/img/icons/03-.png");
	height: 18px;
    width: 20px;
    display: inline-block;
    background-repeat: no-repeat;
}

.prop-icons{
	display: inline-flex;
}

.prop-icons div{

}

.pm-postion{
	width: 5%;
}

.ptitle-position{
	width: 95%;
}

.property-desc{
	line-height: 2;
}