
.body-x-overflow{
	overflow-x: hidden;
}
.theme-color-bck{
	background-color: #cf865a !important;
}

.theme-font-color {
	color: #cf865a !important;
}

.theme-border-color{
	border-color: #cf865a !important;
	border-bottom-style: solid;
	border-width: 1px;
	border-bottom-width: 1px;
}

.brdr-bottom{
	border-color: #f2f2f2 !important;
	border-bottom-style: solid;
	border-width: 1px;
	border-bottom-width: -1px;
}

.brdr-top{
	border-color: #f2f2f2 !important;
	border-top-style: solid;
	border-width: 1px;
	border-top-width: 1px;
}

.brdr-left{
	border-color: #f2f2f2 !important;
	border-left-style: solid;
	border-width: 1px;
	border-left-width: 1px;
}

.brdr-right{
	border-color: #f2f2f2 !important;
	border-right-style: solid;
	border-width: 1px;
	border-right-width: 1px;
}

.theme-padding{
	padding: 3px 0;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 100%;
  margin: auto;
  height :calc(100vh - 57px) !important;
}

.custom-carousel{
	margin-bottom: 0 !important; 
	border-radius: 0px !important;
	background-color: #fff !important;
    border-color: #fff !important;
}

.infotab{
	height: calc(100vh - 57px) !important;
	width: 300px;
	position: absolute;
	top: 0px;
	left: 5%;
	background: #fff;
}

.infotab > div{
	margin: 15px;
}

.infotab > div > img{
	width: 175px;
    margin: 0 10px 25px 0px;
}

.infotab-header{
	font-size: 45px;
	font-weight: bold;
}

.infotab-info{

}

.infotab-lm{

}

.header-color-x{
	color: #cf865a;
	font-weight: bold;
}

.container-margin{
	margin: 80px 30px !important;
}

.inner-container-padding{
	padding:  80px 60px 30px 60px !important
}

.padding-no-top{
	padding:  0 60px 30px 60px !important
}

.section-container-bottom{
	margin-bottom: 35px !important;
}

.section-container{
	margin: 35px 0;
	overflow: hidden;	
}

.nase-block{
	padding: 40px 0px 0px 0px; 
}


.nase-para{
	margin: 60px 0;
}

.dark-green-bgk{
	background: #213944 !important;
	color: #fff !important;
}

.inner-margin{
	padding: 100px 30px;
}

.residence-details{
	padding: 12px 24px 24px 24px;
    display: inline-block;
}


/*COMMON CSS STARTS*/
.nav-menu-top{
	font-size: 11px !important;
	font-weight: bold;
}

.section-heading{
	font-size: 45px;
    font-weight: bold;
    line-height: 1
}

.learn-more{
	color: #000;
	font-size: 12px;
}

.learn-more:active{
	color: #777;
	font-size: 12px;
}

/*COMMON CSS ENDS*/
/*common heading font*/
.chf{
	font-family: Raleway, sans-serif;
	font-weight: 800;
	font-style: normal;
	text-transform: uppercase;
}

.cpf{
	font-family: "Open Sans", sans-serif;
	font-weight: 100;
	font-style: normal;
}

/*common heading font ends*/
.home-header-space{
	padding: 8vh 0;
    display: inline-block;
}

.property-describe p{
	line-height: 1;
	font-size: 26px;
}

.heading-width{
	width: 130px !important;
	display: inline-block;
}

.desc-image img{
	float: right;
}

.info-para{
	display: inline-block;
}

.property-features{
	display: inline-block;
}

.radio-container{
  background-color: #213944;
  height: 50px;
  padding-top: 30px; 
}

.google-map {
  height: 700px;
  padding-bottom: 30px;
}
.google-map-assets {
  margin-top: 3rem;
  overflow:scroll;
  height:465px;
}

.btn-radio .input:after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -.675rem 0 0 -.675rem;
  width: 1.35rem;
  height: 1.35rem;
  border-radius: 100%;
  background-color: #cf865a;
  content: ' ';
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}
.google-map img {
  max-width: inherit;
}
.img-title {
  background-color: #cf865a;
  margin-top: -10px;
  padding: 10px;
  color: white;
}

.image-poi-container{
  height: inherit;
  width: 44% ;
  margin: 1em;
  cursor: pointer;
}

.poi-image{
  width: 100%;
  height: 150px;
}

.poi-container-full{
  width: 92% !important;
  height: inherit;
}

.poi-details{

}
.display-none{
  display: none;
}

.property-header{
	margin: 20px 0;
}

.prop-width{
	width: 95% !important;
	position: relative;
	right: -15px;
}

.listing-buttet{
	background-image: url(../../assets/img/icons/06-bullet.png);
    height: 12px;
    width: 12px;
    display: inline-block;
    background-repeat: no-repeat;
    margin-right: 10px;
    margin-left: 20px;
    background-position: 0px 3px;
}

.arrow-right{
	background-image: url("../../assets/img/icons/05-arrow-right.png");
	height: 18px;
    width: 20px;
    background-repeat: no-repeat;
}

.arrow-left{
	background-image: url("../../assets/img/icons/04-arrow-left.png");
	height: 18px;
    width: 20px;
    display: inline-block;
    background-repeat: no-repeat;
}

.property-img-container{
	width:459px;
	height:565px;
	position: relative;
}

.figcaption-img{
	display: inline-flex;
    position: absolute;
    left: 1px;
    bottom: 0px;
}

.figcaption-img div{
	margin-top: 5px;
	margin-right: 10px;
}

.icon-plus{
	background-image: url("../../assets/img/icons/02+.png");
	height: 18px;
    width: 20px;
    background-repeat: no-repeat;
}

.icon-minus{
	background-image: url("../../assets/img/icons/03-.png");
	height: 18px;
    width: 20px;
    display: inline-block;
    background-repeat: no-repeat;
}

.prop-icons{
	display: inline-flex;
}

.prop-icons div{

}

.pm-postion{
	width: 5%;
}

.ptitle-position{
	width: 95%;
}

.property-desc{
	line-height: 2;
}

.img-circle{
	border-radius: 50%; 
	height: 100px;
	width: 100px;
}

.sec-inner-paddding{
	padding: 70px 20px;
}

.facebook-title{
	font-size: 30px;
}

.agent-name-title{
	padding: 16px 12px;
}

.common-desc{
    line-height: 1;
    font-size: 18px;
}

.agent-padding-text{
	padding: 30px 0 50px 0;
}

.agent-contacts{
	font-size: 28px;
	color: #cf865a;
}

.agent-contact-padding{
	padding-bottom: 45px;
}

.contact-us-padding{
	padding: 40px 0 50px 0;
}

.contact-desc-pad{
	padding: 5px 0;
}


.icon-email{
	background-image: url("../../assets/img/icons/12-email.png");
	height: 18px;
    width: 20px;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-address{
	background-image: url("../../assets/img/icons/13-address.png");
	height: 18px;
    width: 20px;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-telephone{
	background-image: url("../../assets/img/icons/14-phone.png");
	height: 18px;
    width: 20px;
    display: inline-block;
    background-repeat: no-repeat;
}

.inner-text-cu{
	position: relative;
    left: 30px;
    bottom: 7px;
    font-size: 18px;
}

.cu-bottom-padding{
	padding-bottom: 40px;
}

.footer{
	background-color: black;
	font-size: #fff;
}

.footer-inner{
	color: #fff;
	padding: 50px 0;
}

.icon-facebook{
	background-image: url("../../assets/img/icons/15-fb.png");
	height: 18px;
    width: 20px;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-instagram{
	background-image: url("../../assets/img/icons/16-instagram.png");
	height: 18px;
    width: 20px;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-pinterest{
	background-image: url("../../assets/img/icons/17-pinterest.png");
	height: 18px;
    width: 20px;
    display: inline-block;
    background-repeat: no-repeat;	
}

.icon-twitter{
	background-image: url("../../assets/img/icons/18-twitter.png");
	height: 18px;
    width: 20px;
    display: inline-block;
    background-repeat: no-repeat;	
}

.footer-inner a{
	padding-right: 10px;
}

.inner-text-right{
	position: relative;
    left: 30px;
    bottom: 4px;
}

.cu-textbox{
	height: 100px;
	width: 250px;
	background-color: #f2f2f2;
}

.icon-white-arrow{
	background-image: url("../../assets/img/icons/05-arrow-right.png");
	height: 18px;
    width: 20px;
    display: inline-block;
    background-repeat: no-repeat;		
}

.learn-more-icon{
	background-image: url("../../assets/img/icons/01-arrow.png");
	height: 18px;
    width: 20px;
    display: inline-block;
    background-repeat: no-repeat;		
    background-position: 0px 10px;
}

.number{
	margin-bottom: 3px ; 
}

.nase-desc{
	width: 80%;
	line-height: 1.5 !important;
}

.nase-para-head{
	font-size: 20px;
}

.header-desc{
	font-size: 26px;
}

.icon-theme{
	background-image: url("../../assets/img/icons/07-google-marker.png");
	height: 75px;
    width: 34px;
    background-repeat: no-repeat;		
    background-position: 0px 10px;
    padding: 20px 0 64px 0; 
}

.icon-shopping{
	background-image: url("../../assets/img/icons/08-icon-shopping.png");
	height: 75px;
    width: 34px;
    background-repeat: no-repeat;		
    background-position: 5px 0;
}

.icon-school{
	background-image: url("../../assets/img/icons/10-icon-school.png");
	height: 75px;
    width: 34px;
    background-repeat: no-repeat;		
    background-position: 5px 0;
}

.icon-taxi{
	background-image: url("../../assets/img/icons/09-icon-taxi.png");
	height: 75px;
    width: 34px;
    background-repeat: no-repeat;		
    background-position: 8px 0;
}

.icon-airport{
	background-image: url("../../assets/img/icons/11-icon-airport.png");
	height: 75px;
    width: 34px;
    background-repeat: no-repeat;		
    background-position: 8px 0;
}

.neigh-para{
	width: calc(100% - 120px);
	padding: 14px 0 35px 20px;
}

.neigh-sec{
	display: inline-flex;
}

.diff-locations{
	margin: 15px 0;
}

.show-case-title{
	padding-top: 15px; 
}

.home-desc-padding{
	padding: 10% 0 0 0;
}

.inlineblock{
	display: inline-block;
}

.padding-bgk{
	padding: 100px 50px;
}

.row-margin{
	margin: 0 30px;
    width: calc(100% - 60px) !important;
}

.loc-menu-text{
	margin-right: 6px !important;
}

.location-border{
	padding: 18px 0 14px 0;
}

.location-menu{
	border-color: #0d687b !important;
	border-bottom-style: solid;
	border-width: 1px;
	border-top-style: solid;
	margin: 25px 0;
}

.desc-img{
	display: inline-flex;
	height: 380px;
	font-size: 18px;
	background-color: #0d687b;
	margin-bottom: 10px;
}
.loc-img{
	width: 40%;
	background-size: 237px;
    background-repeat: no-repeat;
}

.loc-img img{
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
}
.loc-desc{
	width: 60%;
	padding: 0 20px;
}

.loc-desc-desc{
	overflow: auto;
	height: calc(500px - 222px);
}

.loc-elispsis{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4; /* number of lines to show */
	line-height: 1.3;        /* fallback */
	max-height: 4 !important;
}

.loc-desc-title{
	text-decoration: underline;
	padding: 18px 0;
}

.loc-desc-more{
	position: absolute;
	bottom: 20px;
}

.tog-small{
	height: 200px !important;
}

.icon-white-text{
	font-family: arial;
	font-size: 20px;
	padding-left: 8px;
}

.theme-bck{
	background: #cf865a !important;
}

.marker{
	position: absolute;
}

.theme-marker-css {
	background: #cf865a;
    display: inline-block;
    height: 40px;
    position: relative;
    width: 24px;
    left: 86px;
}
.theme-marker-css:before {
	width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #cf865a;
    position: absolute;
    content: "";
    top: 40px;
}

.marker-css {
	background: #0d687b;
    display: inline-block;
    height: 40px;
    position: relative;
    width: 24px;
    left: 86px;
    bottom: 200px;
}
.marker-css:before {
	width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #0d687b;
    position: absolute;
    content: "";
    bottom: -12px;
}
.marker-img{
	/*background-image: url("https://upload.wikimedia.org/wikipedia/en/d/d5/Philadelphia_Soul_Helmet_Logo.png");*/
    height: 200px;
    width: 200px;
    position: relative;
    background-repeat: no-repeat;
    background-position: 0;
    background-size: 200px 200px;
    bottom: 200px;
}

.marker-title{
	position: absolute;
    bottom: 0;
    background-color: #0d687b;
    color: #fff;
    width: 100%;
    font-size: 20px;
    padding: 20px;
}

input[type="radio"] {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    -ms-appearance: checkbox;     /* not currently supported */
    -o-appearance: checkbox;      /* not currently supported */
}

ul{
	padding: 0;
}

.interior-image{
	background-repeat: no-repeat;
    width: 459px;
    height: 535px;
    background-size: 459px 535px;
}

.location-image-list{
	height: 700px !important;
    overflow: auto;
}

input[type=text]{
	background-color: #f2f2f2;
	width: 250px !important;
}

@media(min-width: 1360px){
	.container-border{
	 	width: 1200px !important;
	 	margin-right: auto;
    	margin-left: auto;
	}	
}

@media screen and (max-width: 1100px), screen  and (max-height: 600px){
	body{
		font-size: 12px !important;
	}
	.section-heading{
		font-size: 30px;
	}

	.common-desc{
		font-size: 15px;
	}

	.property-describe p{
		font-size: 20px;
		line-height: 1px;
	}

	.nase-para-head{
		font-size: 18px;
	}

	.interior-image{
		background-repeat: no-repeat;
	    width: 400px;
	    height: 500px;
	    background-size: 400px 500px;
	}

	.figcaption-img{
		bottom: 34px;
	}

	.desc-img{
		font-size: 15px;
	}
}