.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 100%;
  margin: auto;
  height :calc(100vh - 57px) !important;
}

.custom-carousel{
	margin-bottom: 0 !important; 
	border-radius: 0px !important;
	background-color: #fff !important;
    border-color: #fff !important;
}

.infotab{
	height: calc(100vh - 57px) !important;
	width: 300px;
	position: absolute;
	top: 0px;
	left: 5%;
	background: #fff;
}

.infotab > div{
	margin: 15px;
}

.infotab > div > img{
	width: 175px;
    margin: 0 10px 25px 0px;
}

.infotab-header{
	font-size: 45px;
	font-weight: bold;
}

.infotab-info{

}

.infotab-lm{

}

.header-color-x{
	color: #cf865a;
	font-weight: bold;
}

.section-container-bottom{
	margin-bottom: 35px !important;
}

.section-container{
	margin: 35px 0;
}

.nase-block{
	margin: 40px 0px 0px 0px; 
}

.dark-green-bgk{
	background: #213944;
	color: #fff;
}

.inner-margin{
	padding: 100px 30px;
}

.residence-details{
	padding: 24px;
    display: inline-block;
}


/*COMMON CSS STARTS*/
.nav-menu-top{
	font-size: 11px !important;
	font-weight: bold;
}

.section-heading{
	font-size: 45px;
    font-weight: bold;
    line-height: 1
}

.section-sub-heading{

}

.section-sub-heading-small{

}

.learn-more{
	color: #000;
	font-size: 12px;
}

.learn-more:active{
	color: #777;
	font-size: 12px;
}

/*COMMON CSS ENDS*/

.home-header-space{
	padding: 50px 0;
    display: inline-block;
}